@use "../abstracts/assets";

.static-stat {
    background-image: assets.$sheet-bg;
    background-size: cover;
    background-position: center;
    width: 35%;
    margin: 1em 0;
    padding: 0.3em 0em;
    text-align: center;
    border-radius: 2px;
}