$bg-paper: url("../../resources/images/old_paper.jpg");
$sheet-bg: url("../../resources/images/equipment-bg.jpg");

$slot-default: url("../../resources/images/slot-default.jpg");
$slot-hover: url("../../resources/images/slot-hover.jpg");
$slot-equipped: url("../../resources/images/slot-equipped.jpg");

$plus-sign: url("../../resources/images/plus-sign.png");
$radial-bg: url("../../resources/images/radial-bg.png");
$category-bg: url("../../resources/images/category-bg.png");

$health-bar: url("../../resources/images/health.jpg");
$mana-bar: url("../../resources/images/mana.jpg");
$energy-bar: url("../../resources/images/energy.jpg");