$background: url("../../resources/images/background.png");
$sheet-bg: url("../../resources/images/equipment-bg.jpg");
$static-stat-bg: url("../../resources/images/static-stat-bg.png");

$slot-default: url("../../resources/images/slot-default.jpg");
$slot-hover: url("../../resources/images/slot-hover.jpg");
$slot-equipped: url("../../resources/images/slot-equipped.jpg");

$plus-icon: url("../../resources/images/plus-sign.png");
$inventory-icon: url("../../resources/images/inventory-icon.png");
$character-icon: url("../../resources/images/character-icon.png");
$radial-bg: url("../../resources/images/radial-bg.png");
$category-bg: url("../../resources/images/category-bg.png");

$health-bar: url("../../resources/images/health.jpg");
$mana-bar: url("../../resources/images/mana.jpg");
$energy-bar: url("../../resources/images/energy.jpg");

$equipped-item: url("../../resources/images/equipped-item.png");
$selected-item: url("../../resources/images/selected-item.png");