$bg-paper: url("../../resources/images/old_paper.jpg");
$sheet-bg: url("../../resources/images/equipment-bg.jpg");
$slot-default: url("../../resources/images/slot-default.jpg");
$slot-hover: url("../../resources/images/slot-hover.jpg");
$slot-equipped: url("../../resources/images/slot-equipped.jpg");