$bg-color: #c37f00;
$bg-gradient: radial-gradient(ellipse farthest-corner, rgba(179,167,100,1) 0%, rgba(175,159,74,1) 66%, rgba(164,136,2,1) 82%, rgba(91,63,8,1) 100%);


$health: rgb(228, 51, 89);
$mana: rgba(18,162,212,1);
$energy: rgb(205, 167, 0);

$health-bg: rgb(102, 17, 17);
$mana-bg: rgb(24, 40, 97);
$energy-bg: rgb(92, 64, 0);

$health-gradient: linear-gradient(90deg, rgba(186,0,0,1) 0%, rgba(212,18,84,1) 100%);
$mana-gradient: linear-gradient(90deg, rgba(52,90,224,1) 0%, rgba(18,162,212,1) 100%);
$energy-gradient: linear-gradient(90deg, rgba(205,144,0,1) 0%, rgba(224,207,52,1) 100%);