$bg: #16161d;
$bg-equip: #36365c;

$health: #e43359;
$mana: #12a2d4;
$energy: #cda700;

$health-bg: #661111;
$mana-bg: #182861;
$energy-bg: #5c4000;

$health-gradient: linear-gradient(90deg, #ba0000 0%, #d41254 100%);
$mana-gradient: linear-gradient(90deg, #345ae0 0%, #12a2d4 100%);
$energy-gradient: linear-gradient(90deg, #cd9000 0%, #e0cf34 100%);

$light-shadow: rgba(0,0,0,0.10);
$medium-shadow: rgba(0,0,0,0.33);
$hard-shadow: rgba(0,0,0,0.66);