$bg-color: #c37f00;
$bg-gradient: radial-gradient(ellipse farthest-corner, rgba(179,167,100,1) 0%, rgba(175,159,74,1) 66%, rgba(164,136,2,1) 82%, rgba(91,63,8,1) 100%);

$health: #e03434;
$mana: #3487e0;
$energy: #e0cf34;