@use "../base/resets";
@use "../base/fonts";
@use "../abstracts/colors";
@use "../abstracts/assets";
@use "../components/statusBars";
@use "../components/staticStats";
@use "../components/characterSheet";

body {
  background-color: colors.$bg;
}

.character-sheet-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  align-items: center;
  margin-top: 50px;

  .character-preview-wrapper {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: max-content;

    .character-info-switch {
      button {
        position: relative;
        background-color: colors.$bg-equip;
        outline: none;
        border: none;
        padding: 0.5em 0.5em;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.1) 100%
          );
          opacity: 0.3;
        }

        &:last-of-type {
          margin-left: 5px;
        }
      }
    }

    .character-sheet {
      width: 100%;
      aspect-ratio: 1080/1920;
      background-image: assets.$sheet-bg;
      background-size: cover;
    }
  }

  .character-stats-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;

    .character-dynamic-stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      margin: 1em 0;
      width: 100%;
    }

    .character-static-stats {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      column-gap: 1.25em;
      height: 350px;
    }
  }
}
